.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.ts
.venv/**
.nox/**
.github/
**/__pycache__/**
**/.pyc
noxfile.py
.pytest_cache/**
.pylintrc
**/requirements.txt
**/requirements-dev.txt
**/requirements.in
.idea/**
.ruff_cache/**
tests/**
build/**
justfile
