**/.github/
**/.idea/
**/.nox/
**/.pytest_cache/
**/.ruff_cache/
**/.venv/
**/.vscode/
**/__pycache__/
**/build/
**/node_modules/
*.pyc
*.ts
.editorconfig
.eslintignore
.eslintrc.json
.gitignore
.prettierignore
.prettierrc.json
.yarnrc
justfile
requirements-dev.txt
requirements.txt
src/
tests/
tsconfig.json
webpack.config.js
