[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "ruff-vscode"
version = "2023.60.0"
description = "A Visual Studio Code extension with support for the Ruff linter."
authors = [
  { name = "Charlie Marsh", email = "charlie.r.marsh@gmail.com" },
]
maintainers = [
  { name = "Charlie Marsh", email = "charlie.r.marsh@gmail.com" },
]
requires-python = ">=3.7"
license = "MIT"
dependencies = [
  "packaging>=23.1",
  "ruff-lsp==0.0.48",
  "ruff==0.1.9",
]

[project.optional-dependencies]
dev = [
  "mypy==1.2.0",
  "python-lsp-jsonrpc==1.0.0",
]

[tool.ruff]
line-length = 88
select = [
  "E",
  "F",
  "W",
  "Q",
  "UP",
  "I",
  "N",
]
target-version = "py37"
extend-exclude = ["bundled/libs"]

[tool.black]
line-length = 88

[tool.mypy]
files = ["bundled/tool", "build", "tests"]
no_implicit_optional = true
check_untyped_defs = true

[[tool.mypy.overrides]]
module = [
  "debugpy.*",
  "lsprotocol.*",
  "pygls.*",
  "pylsp_jsonrpc.*",
]
ignore_missing_imports = true
